@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:wght@200&display=swap');

html,
body{
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(16, 126, 16);
    overflow-x: hidden;
}




.container{
    margin: 0 10PX;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 15% 10% 18% 21% 21% 15%;
    overflow: hidden;
    grid-template-areas: 
        "header header header header header"
        "nav1 nav2 nav3 nav4 nav5"
        "main main main fav-title fav-title"
        "main main main fav-photo1 fav-photo2"
        "main main main fav-photo3 fav-photo4"
        "footer footer footer footer footer "
    
}

header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: rgb(16, 126, 16);

    
}
.title {
    margin: auto;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 8px;
    font-family: 'Luckiest Guy', cursive;
    color: black;
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.logo {
    width: 90px;
    height: auto;
}
.nav-item1{
    grid-area: nav1;
    background-color: rgb(21, 192, 21);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.nav-item1 a {
    text-decoration: none;
    color: black;
}

.nav-item2{
    grid-area: nav2;
    background-color: rgb(21, 192, 21);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.nav-item2 a {
    text-decoration: none;
    color: black;
}

.nav-item3{
    grid-area: nav3;
    background-color: rgb(21, 192, 21);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.nav-item3 a {
    text-decoration: none;
    color: black;
}

.nav-item4{
    grid-area: nav4;
    background-color: rgb(21, 192, 21);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.nav-item4 a {
    text-decoration: none;
    color: black;
}

.nav-item5{
    grid-area: nav5;
    background-color: rgb(21, 192, 21);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}
.nav-item5 a {
    text-decoration: none;
    color: black;
}

main{
    grid-area: main;
    background-color:  rgb(21, 192, 21);
    font-family: 'Carter One', cursive;
    margin-top: 0px;
    margin: 0 10px 10px 0;
}

main::before {
    content: "";
    height: 15px;
    width:110vw;
    display: inline-block;
    background-color: gray;
    margin:0px;
    position: absolute;
    left: -10px;
    border-bottom: 10px solid rgb(16, 126, 16);;
    }


.welcome  {
    text-align: center;
    font-size: 40px;
    letter-spacing: 8px;
    margin-top: 40px;
    
}

.content {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.fav-title{
    grid-area: fav-title;
    background-color:rgb(21, 192, 21);
    border-top: rgb(97, 94, 94) 10px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fjalla One', sans-serif;
}

.fav-title h1 {
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    letter-spacing: 8px;
}
.collection {
    padding: 6px 0;
    display: flex;
    
}
.collection img {
    
    width: 100%;
}
.fav-photo1{
    grid-area: fav-photo1;
    background: rgb(21, 192, 21);
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    
}

.fav-photo2{
    grid-area: fav-photo2;
    background: rgb(21, 192, 21);
    padding-right: 15px;
}

.fav-photo3{
    grid-area: fav-photo3;
    background: rgb(21, 192, 21);
    /*border-bottom:  rgb(97, 94, 94) 10px solid;*/
    padding-left: 15px;
    margin-bottom: 10px;
}

.fav-photo4{
    grid-area: fav-photo4;
    background: rgb(21, 192, 21);
    /*border-bottom: rgb(97, 94, 94) 10px solid;*/
    padding-right: 15px;
    margin-bottom: 10px;
}

footer{
    grid-area: footer;
    background-color: rgb(16, 126, 16);    
}

footer p {
    margin: 30px 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
}
footer::before {
    content: "";
    height: 15px;
    width:110vw;
    display: inline-block;
    background-color: gray;
    margin:0px;
    position: absolute;
    left: -10px; 
    }